/* Main */

/* Title H1 */

.page__title {
	font-weight: 900;
	font-style: normal;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--main-light-color);
	text-transform: uppercase;
	margin: 0px auto 30px auto;
	width: 696px;
}
